div.kpr-footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: 360px;
  width: 1920px;
  background-color: #2a2a2a;
  color: #bfbfbf;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

i.fa {
  opacity: 1;
  font-size: 36px;
}

.innerfooter {
  display: inline-block;
  margin-top: 14px;
  margin-bottom: 14px;
  padding-top: 14px;
  border-right: solid rgba(172, 172, 172, 0.2) 1px;
}

.innerfooter:last-child {
  border-right: none;
}

h4 {
  margin-top: 0;
  margin-bottom: 15px;
}

ul {
  list-style: none;
}

p {
  display: block;
  margin: 0;
  text-align: center;
}
