<div class="wrapper">
  <div class="kpr-footer">
<div class="row">
  <div class="col-md-2 col-md-offset-5 innerfooter">
        <h4>Find me on</h4>
        <a href='https://www.facebook.com/alexander.miller.7'><i class="fa fa-facebook fa-3x fa-fw hvr-grow" style="color: #3b5998;"></i></a>
        <a href='https://twitter.com/Alex_M1ller'><i class="fa fa-twitter fa-3x fa-fw hvr-grow" style="color: #0094c1;"></i></a>
        <a href='https://github.com/k0pper'><i class="fa fa-github fa-3x fa-fw hvr-grow" style="color: #d0d0d0;"></i></a>
        <a href='https://www.xing.com/profile/Alexander_Miller77'><i class="fa fa-xing fa-3x fa-fw hvr-grow" style="color: #026466;"></i></a>
        <a href='https://www.xing.com/profile/Alexander_Miller77'><i class="fa fa-instagram fa-3x fa-fw hvr-grow" style="color: rgba(253,0,255,0.76);"></i></a>
  </div>
</div>
    <div class="col-md-2 col-md-offset-5 innerfooter">
      <p>&copy; 2017 - 2017 by Alexander Miller</p>
      <p>All rights reserved</p>
      <ul>
      </ul>
    </div>
  </div>
</div>
