
<div class="container">
  <div class="wrapper">
    <h1 class="hey visible-lg">hey, I am</h1><h1 class="nav-brand" id="brand">&nbsp;</h1>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse wrapper">
        <div id="nav">
          <ul class="nav navbar-nav">
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a href="#">Gadgets</a></li>
            <li><a [routerLink]="['/about']">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
