/* You can add global styles to this file, and also import other style files */
::selection {
  background: rgba(0, 229, 22, 0.51); /* WebKit/Blink Browsers */
}

html, body {
  min-height: 100%;
}

body {
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif;
  background-color: #fbf9f4;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23d9d9d9' fill-opacity='0.66' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

h1 {
  font-family: "Oswald", "Gill Sans", sans-serif;
  padding-right: 10px;
  font-size: 32px;
  text-transform: lowercase;
}

h2 {
  font-family: "Oswald", "Gill Sans", sans-serif;
  padding-right: 10px;
  font-size: 32px;
}

h3 {
  font-family: "Oswald", "Gill Sans", sans-serif;
  padding-right: 10px;
  font-size: 24px;
}

h1.nav-brand {
  display: flex;
  text-transform: lowercase;
  font-size: 140px;
  font-weight: lighter;
  letter-spacing: -4px;
  border-right: #292929 solid 6px;
  padding-right: 20px;
  -webkit-animation: blink-caret .5s step-end infinite alternate;
}

@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }


.container {
  width: 75%;
  border-bottom: solid rgba(46, 46, 46, 0.09) 1px;
}

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style : normal;
  src : url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src : url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
  url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
  url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
  url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
  url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

.inline {
  display: inline-block;
}

.wrapper {
  text-align: center;
}

a {
  text-decoration: none !important;
}

p {
  line-height: 195%;
  font-size: 14px;
}

.turnaround-container {
  height: 350px;
  width: 100%;
  perspective: 1000px; /* Hier wird die Perspektive der gesamten Szene festgelegt. Der Wert hat Auswirkung auf die Verzerrung */
  float: left;
  cursor: pointer;
  margin: 50px;
}

.turnaround {
  transition: .5s /* Die Drehung soll 0,5 Sekunden dauern */;
  transform-style: preserve-3d; /* Kind-Elemente  (.front + .back) sollen ihre 3D-Eigenschaften behalten*/
  position: relative;
  height: 100%;
}

.turnaround-container:hover .turnaround {
  transform: rotateY(180deg);
  box-shadow: 0 10px 6px -6px #777;
}

.front, .back {
  backface-visibility: hidden /* Die Rückseite von Elementen soll unsichtbar sein */;
  position: absolute;
  width: 100%;
  height: 100%;
}

.front { z-index: 2; background-color: #ffffff;}

.back {
  transform: rotateY(180deg) /* Die Rückseite des Logos wird umgedreht, um dann bei der Drehung der gesamten Szene vorne zu sein :) */;
  z-index: 1;
  background-color: #e0e0e0;
}
